@media screen and (max-width: 863px) {
    .nav-container {
        position: fixed;
        display: none;
        overflow-y: auto;
        z-index: -1;
        top: 0;
        right: 0;
        width: 280px;
        height: 100%;
        background: #1C1C22;
        box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-end;
        margin-top: 80px;
        width: 100%;
    }

    .nav-tab:not(:last-child) {
        padding: 20px 25px;
        margin: 0;
        border-right: unset;
        /* border-bottom: 1px solid #f5f5f5; */
    }

    .nav-tab:last-child {
        padding: 15px 25px;
    }

    .menu-btn {
        position: relative;
        display: block;
        margin: 0;

        cursor: pointer;
        z-index: 2;
        padding: 10px;
    }

    .menu-btn .menu {
        display: block;
    }

    #menuToggle:checked+.menu-btn .menu {
        transition: transform 0.2s ease;
    }

    #menuToggle:checked+.menu-btn .menu:nth-child(1) {
        display: none;
    }

    #menuToggle:checked+.menu-btn .close-btn:nth-child(2) {
        display: block;
        /* color: black; */
    }

    #menuToggle:checked~.nav-container {
        z-index: 1;
        display: flex;
        animation: menu-slide-left 0.3s ease;
    }

    @keyframes menu-slide-left {
        0% {
            transform: translateX(200px);
        }

        to {
            transform: translateX(0);
        }
    }

}

@media screen and (max-width: 993px) {
    .nav-tab {
        font-size: 16px;
    }
}

@media (max-width:1208px) {
    .nav-tab-btns {
        display: block;
    }

    .nav-btn-tab {
        display: none;
    }

}

@media (max-width:800px) and (min-width:426px) {
    header {
        padding: 0px 50px;
    }
    /* .nav-tab a {
        color: black !important;
    }
    .nav-tab-btns .login-btn {
        background-color: #161513 ;
    }
    .nav-tab-btns .login-btn #login {
        color:  #F0F2F5; 
    } */
}

@media (max-width:426px) {
    header {
        padding: 0px 20px;
    }
    .footer-tab a {
        padding-left: 13px;
    }
}






/* Main media query  */
/* Main media query  */
/* Main media query  */


@media (max-width:1025px) {
    .education-section .education-part .education-list .time-period {
        padding-left: 46px;
    }
    .education-section .education-part .education-list li {
        font-size: 14px;
    }
    .experience-section .experience-part .experience-list .time-period {
        padding-left: 46px;
    }
    .experience-section .experience-part .experience-list li {
        font-size: 14px;
    }
}

@media (max-width:769px) {
    .education-section .education-part .education-list .time-period {
        padding-left: 17rem;
    }
    .experience-section .experience-part .experience-list .time-period {
        padding-left: 17rem;
    }
}



@media (max-width:2560px) and (min-width:426px) {
 
}

@media (max-width:2561px) and (min-width:1451px) {
    .content img {
        width: 24vw;
    }

   
}


@media (max-width:480px) and (min-width:326px) {
 
    footer hr {
            margin: 0px 18px;
            width: 92%;
    }


    .footer-list {
        justify-content: flex-start;
        padding: 0px;
    }
    .footer-list .footer-tab:not(:last-child) {
        /* padding: 0px 12px; */
        margin: 0;
    }
    .social-logo-container {
        justify-content: flex-start;
    }
    .footer-one h6 {
        padding-top: 30px;
        font-family: "Young Serif", serif;
        font-style: oblique; 
    }
    .education-section .education-part .education-list li {
        font-size: 13px;
    }
    .education-section .education-part .education-list .time-period {
        padding-left: 24px;
    }

    .experience-section .experience-part .experience-list li {
        font-size: 13px;
    }
    .experience-section .experience-part .experience-list .time-period {
        padding-left: 24px;
    }
}


