@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    
}

::-webkit-scrollbar {
    width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: transparent;
    border: 2px solid #525252;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #525252;
    border: none;
}




body {
    margin: 0;
    padding: 0;
    /* background-color: #161513; */
    background-color: #ffffff;
    

}



 
.fadein {
    opacity: 0;
    transition: all 1.5s;
    transform: translate(0, 100px);
}
.fadein.visible {
    opacity: 1;
    transform: translate(0, 0);
}


/*------------------- Navbar Starts --------------------*/
header {
    position: sticky;
    top: 0;
    /* background-color: #161513; */
    color: #161513;
    background-color: #F0F2F5;

    font-family: "Poppins", serif;
    overflow: hidden;
    z-index: 99;
}

header .container {
    margin: 0;
    padding: 0;
}

nav {
    /* font-family: 'Clash Display', sans-serif; */
    border: 0;

}


.nav-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 80px;
    padding: 0 25px;
    z-index: 2;

}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.logo {
    height: 20px;
}

.nav-list {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    list-style: none;
    border: 0;
    align-items: center;
    justify-content: center;
}

.nav-tab a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #545454;
    font-weight: 400;
    font-style: normal;
    display: block;
    position: relative;
    padding: 4px 0;
}

.nav-tab a::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    transition: 0.5s transform ease;
    transform: scale3d(0, 1, 1);
    transform-origin: 0 50%;
}

.nav-tab a:hover::before {
    transform: scale3d(1, 1, 1);
}

.nav-tab a::before {
    background: #d24090;
    transform-origin: 100% 50%;
}

.nav-tab a:hover::before {
    transform-origin: 0 50%;
}




.nav-tab:not(:last-child) {
    padding: 10px 25px;
    margin: 0;
}

.nav-tab:last-child {
    padding: 0px 0 0 25px;
}

.nav-tab,
.menu-btn {
    cursor: pointer;
    color: white;
}

.menu-btn .menu {
    display: none;
}

.close-btn {
    display: none;
}

.hidden {
    display: none;
}

.nav-btns {
    display: flex;
    justify-content: space-evenly;
}

.nav-btns .login-btn {
    cursor: pointer;
    border: none;
    padding: 0px 30px;
    color: #F0F2F5;
    background-color: #161513;
    border-radius: 25px;
    height: 42px;
    overflow: hidden;
}

.nav-btns .login-btn #login {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #F0F2F5;
}



.nav-tab-btns {
    display: none;
}


.nav-tab-btns .login-btn {
    cursor: pointer;
    border: none;
    padding: 0px 30px;
    background-color: #161513;
    color: #F0F2F5 !important;
    border-radius: 25px;
    height: 42px;
    overflow: hidden;
}

.nav-tab-btns .login-btn #login {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    /* color: #161513; */
}



/*------------------- Navbar Ends --------------------*/





/*------------------- First Section Starts --------------------*/

.bg-image {
    background-color: #F0F2F5;
}
.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 80px;

}

.info-section .my-image img {
    border-radius: 150px;
    width: 120px;
}

.info-section .info-part {
    text-align: center;
    color: #545454;
    font-family: "Bai Jamjuree", sans-serif;

}


.info-section .info-part .gradient-class {
    background: -webkit-linear-gradient(#B16CEA, #FF5E69, #FFA84B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 40px;
}

.info-section .info-part .sub-heading {
    font-weight: 700;
    font-size: 40px;
    font-family: "Bai Jamjuree", sans-serif;
}


.get-in-btn {
    cursor: pointer;
    border: none;
    padding: 0px 30px;
    background-color: #161513;
    border-radius: 25px;
    height: 42px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #F0F2F5;
    transition: all 0.3s ease-in;
    
}

.button-part .get-in-btn:hover  {
    border: 2px solid #161513;
    background-color: transparent;
    color: #161513;
}


.button-part .view-work-btn {
    cursor: pointer;
    border: none;
    padding: 0px 30px;
    background-color: transparent;
    border: 2px solid #161513;
    border-radius: 25px;
    height: 42px;
    overflow: hidden;
}

.button-part .view-work-btn #view-work {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #161513;
}


/*------------------- First Section Ends --------------------*/

.education-section {
    padding-top: 100px;
}

.experience-section {
    padding-top: 100px;
}

.education-section .education-headline .gradient-class {
    background: -webkit-linear-gradient(#B16CEA, #FF5E69, #FFA84B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 40px;
    font-family: "Bai Jamjuree", sans-serif;
}

.education-section .education-part {
    color: #545454;
    padding-bottom: 30px;
    border-bottom: 1px solid #8f8f8f;
}

.education-section .education-part h4 {
    font-weight: 600;
    /* font-family: "Bai Jamjuree", sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.education-section .education-part .education-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.education-section .education-part .education-list li {
    list-style: none;
    color: #8f8f8f;
}

.education-section .education-part .education-list .time-period {
    padding-left: 10rem;
    font-family: 'Poppins', sans-serif;
}


.experience-headline .gradient-class {
    background: -webkit-linear-gradient(#B16CEA, #FF5E69, #FFA84B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 40px;
    font-family: "Bai Jamjuree", sans-serif;
}


.experience-section .experience-part {
    color: #545454;
    padding-bottom: 30px;
    border-bottom: 1px solid #8f8f8f;
}

.experience-section .experience-part h4 {
    font-weight: 600;
    /* font-family: "Bai Jamjuree", sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.experience-section .experience-part .experience-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.experience-section .experience-part .experience-list li {
    list-style: none;
    color: #8f8f8f;
}

.experience-section .experience-part .experience-list .time-period {
    /* padding-left: 21rem; */
    font-family: 'Poppins', sans-serif;
}

.experience-section ,  div:nth-child(3) {
    padding: 30px 0px;
}

.education-section ,  div:nth-child(3) {
    padding: 30px 0px;
}
.experience-section  li:nth-child(2) {
    padding-left: 17rem;
}




/* FOOTER STARTS */
footer {
    background-color: #161513;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    padding-top: 40px;
}

.footer-logo img {
    width: 35px;

}

.footer-one {
    padding: 30px 0px;
}

.footer-one h6 {
    padding-top: 56px;
    font-style: oblique;
}

.footer-two {
    padding: 30px 0px;
}

.footer-list {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    list-style: none;
    border: 0;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
}


.footer-tab a {
    margin-left: 20px;
    color: #F0F2F5;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    display: block;
    position: relative;
    padding: 4px 0px;
}

.footer-tab a::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    transition: 0.5s transform ease;
    transform: scale3d(0, 1, 1);
    transform-origin: 0 50%;
}

.footer-tab a:hover::before {
    transform: scale3d(1, 1, 1);
}

.footer-tab a::before {
    background: #d24090;
    ;
    transform-origin: 0 50%;
}

.footer-tab a:hover::before {
    transform-origin: 100% 50%;
}



.footer-list .footer-tab:not(:last-child) {
    /* padding: 0px 25px; */
    margin: 0;
}


.social-logo-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;

}

.social-logo-1 {
    padding: 0px 10px;
}

.social-logo-1 img {
    width: 36px;
}

.social-logo-2 img {
    width: 36px;
}

.customer-care li {
    list-style: none;
    padding-bottom: 10px;
}

.customer-care span {
    font-weight: 900;
    font-size: 14.5px;
    margin-bottom: 50px;

}

.customer-care li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 160px;
    font-size: 16px;
    transition: all .4s ease-in-out;
}

.customer-care li a:hover {
    color: #3acfb6;
}

.information li {
    list-style: none;
    padding-bottom: 10px;
}

.information li span {
    font-weight: 900;
    font-size: 14.5px;
    margin-bottom: 30px;
}

.information li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 12px;
    transition: all .4s ease-in-out;
    margin-bottom: 160px;
}



.contact-info li {
    list-style: none;
    font-size: 12px;
    padding-bottom: 12.5px;
}

.contact-info li span {
    font-weight: 900;
    font-size: 14.5px;
    margin-bottom: 30px;
}

#copyright {
    background-color: #161513;
    color: #fffff2;
    font-size: medium;
    text-align: center;
    padding: 20px;
}

footer hr {
    height: .5px;
    background-color: rgb(255, 255, 255);
    border: .5px;
    margin: 0px 50px;
}




button.back-to-top {
    margin: 0 !important;
    padding: 0 !important;
    background: #242121;
    height: 0px;
    width: 0px;
    overflow: hidden;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    color: transparent;
    clear: both;
    visibility: hidden;
    position: fixed;
    cursor: pointer;
    display: block;
    border: none;
    right: 50px;
    bottom: 75px;
    font-size: 0px;
    outline: 0 !important;
    z-index: 99;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus, {
    outline: 0 !important;
}

button.back-to-top::before,
button.back-to-top::after {
    content: "";
    display: block;
    vertical-align: middle;
    border-bottom: solid 10px #21a361;
    border-left: solid 10px transparent;
    line-height: 0;
    border-right: solid 10px transparent;
    height: 0;
    margin: 18px auto 0;
    width: 0;
    border-radius: 20px;
    visibility: hidden;
}

button.back-to-top.show::after,
button.back-to-top.show::before {
    visibility: visible;
}

button.back-to-top::after {
    border-bottom-color: #d24090;
    position: relative;
    top: -24px;
}

button.back-to-top.show {
    display: block;
    background: #242121;
    color: #00ab6c;
    font-size: 25px;
    right: 25px;
    bottom: 50px;
    height: 50px;
    width: 50px;
    visibility: visible;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

button.back-to-top.show:active {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}